{{/*  font  */}}
{{/*  https://stack.jimmycai.com/config/header-footer  */}}

{{/*  Overwrite CSS variable  */}}
{{/*  <style>
  :root {
      --article-font-family: "Noto Sans JP", var(--base-font-family);
  }
</style>  */}}

<script>
  (function () {
      const customFont = document.createElement('link');
      customFont.href = "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto+Mono:ital,wght@0,400;700;1,400;700&display=swap";
      
      customFont.type = "text/css";
      customFont.rel = "stylesheet";
  
      document.head.appendChild(customFont);
  }());
</script>

{{/*  <link rel="preconnect" href="https://fonts.googleapis.com">  */}}
{{/*  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  */}}

{{/*  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto+Mono:ital,wght@0,400;700;1,400;700&display=swap" rel="stylesheet">  */}}

{{/* 
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,400;700;1,400;700&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+Mono:wght@400;700&family=Roboto+Mono:ital,wght@0,400;700;1,400;700&display=swap" rel="stylesheet">
*/}}

{{/*  font awesome  */}}
{{ $css := "awesome/css/awesome.css" | relURL }}
<link rel="stylesheet" href="{{ $css }}">
